cnn/src/pkg/__pycache__/*

# Ignore .h5 files globally
*.h5

# Re-include .h5 files in the specific directory
!images/water/**/*.h5
!images/water/*.h5

# Ignore directories as before
cnn/src/__pycache__/**
__pycache__/**

# Include all directories in images/ with structure 01, 02, ..., 09
!images/**/01/**
!images/**/02/**
!images/**/03/**
!images/**/04/**
!images/**/05/**
!images/**/06/**
!images/**/07/**
!images/**/08/**
!images/**/09/**

# Ignore .h5 files in specific directories
images/peaks_water_overlay/**/*.h5
images/labels/**/*.h5
images/peaks/**/*.h5
images/temp/**/*.h5
images/water/**/*.h5
images/temp/**/*.h5 

**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store
**/**/**/**/**/.DS_Store
**/**/**/**/**/**/.DS_Store

images.zip