# Ignore .h5 files globally
*.h5

# Re-include .h5 files in the specific directory
!images/water/**/*.h5

# Ignore directories as before
images/peaks_water_overlay/*
images/labels/*
images/peaks/*
images/temp/*
cnn/src/__pycache__
__pycache__

