[submodule "cnn/src/pkg/waterbackground_subtraction"]
	path = cnn/src/pkg/waterbackground_subtraction
	url = git@github.com:adamkurth/waterbackground_subtraction.git
	branch = simplified_for_hitfinder
